

<canvas class="scond-chart p-2 " id="chart">{{chart}}</canvas>

  <div class="d-flex justify-content-around mt-4">
    <div class="d-flex justify-content-center ">
      <p class="margin-s">Mobile</p>
      <i class=" mx-3  mt-1 fa-solid fa-mobile-alt mobile-color"></i>
    </div>
    <div class="d-flex justify-content-center " >
      <p class="">Tablet</p>
      <i class=" mx-3 mt-1 fa-solid fa-tablet-alt tablet-color"></i>
    </div>
    <div class=" d-flex justify-content-center  " >
      <p class="">Disktop</p>
      <i class=" mx-3 mt-1 fa-solid fa-desktop-alt desktop-color " ></i>
    </div>

  </div>
