
<div class="container-fluid py-4">
  <div class="row g-4"> <div class="col-12 col-md-12 col-lg-6">
      <div class="cart-2 p-2 h-100 shadow-sm"> <h6 class="mb-3 opacity-75">Revenue Analysis</h6>
        <div class="chart-container">
          <app-chart2></app-chart2>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-12 col-lg-6 ">
      <div class="cart-2 p-4 h-100 shadow-sm">
        <h6 class="mb-3 opacity-75" >Device Distribution</h6>
        <div class=" d-flex justify-content-center ms-3">
          <app-chart3 class="ms-3"></app-chart3>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-12 col-lg-6">
      <div class="cart-2 p-4 h-100 shadow-sm">
        <h6 class="mb-3 opacity-75" >Weekly Analysis</h6>
        <div >
          <app-chart5></app-chart5>
        </div>
      </div>
    </div>

    <div class=" col-12 col-md-6 col-lg-3">
      <div class="cart-2 p-4 h-100 shadow-sm">
        <h6 class="mb-3 opacity-75" >Weekly Analysis</h6>
        <div >
      <div>
        <h3 >86.4%</h3>
        <p class="font-md opacity-75 ">Total Clicks</p>
      </div>
          <app-chart6></app-chart6>
          <div class="d-flex mt-5 justify-content-center">
            <p class="text-g font-md me-2">12.5%</p>
            <p>from last Week</p>
          </div>
        </div>
      </div>
    </div>



    <div class=" col-12 col-md-6 col-lg-3">
      <div class="cart-2 p-4 h-100 shadow-sm">
        <h6 class="mb-3 opacity-75" >Device Distribution</h6>
        <div >
                <div>
        <h3 >67.3%</h3>
        <p class="font-md opacity-75 ">Total Clicks</p>
      </div>
          <app-chart4></app-chart4>
          <div class="d-flex mt-5 flex-wrap justify-content-center">
            <p class="w-50 text-center">35K users increased from last month</p>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>
