


<div class="row mt-3 g-4" >

  <!-- start facebook //////////////////////////// -->

  <div class="col-12  col-md-6 col-lg-6 col-xl-4 h-100">
  <div class="card cart-bluer">
  <div class="row g-0">
    <div class="col-4 ">
      <div class="custom-w-h position-relative">
        <img src="Ads/background facebook 2.png"  class=" custom-w-h rounded-start" alt="...">
        <div class="top-back"></div>
        <img src="Ads/17.png" class="custom-img" alt="">
      </div>
    </div>
    <div class="col-8 ">
      <div class="card-body d-flex justify-content-center">
        <div class="circle-parent circle-facebook"></div>
      </div>
      <div class=" d-flex justify-content-center my-3 mt-2 text-n">facebook selling about 55%</div>
    </div>
  </div>
</div>
</div>

<!-- end facebook //////////////////////////// -->
  <!-- start Google //////////////////////////// -->

  <div class="col-12  col-md-6 col-lg-6 col-xl-4 h-100">
  <div class="card cart-bluer">
  <div class="row g-0">
    <div class="col-4 ">
      <div class="custom-w-h position-relative">
        <img src="Ads/Untitled-2.png"  class=" custom-w-h rounded-start" alt="...">
        <div class="top-back rounded-start"></div>
        <img src="Ads/05.png" class="custom-img" alt="">
      </div>
    </div>
    <div class="col-8 ">
      <div class="card-body d-flex justify-content-center">
        <div class="circle-parent circle-google"></div>
      </div>
      <div class=" d-flex justify-content-center my-3 mt-2 text-n">Google Ads selling about 75%</div>
    </div>
  </div>
</div>
</div>

<!-- end Google //////////////////////////// -->
  <!-- start spotify //////////////////////////// -->

  <div class="col-12  col-md-6 col-lg-6 col-xl-4 h-100">
  <div class="card cart-bluer">
  <div class="row g-0">
    <div class="col-4 ">
      <div class="custom-w-h position-relative">
        <img src="Ads/spotify.png"  class=" custom-w-h rounded-start" alt="...">
        <div class="top-back rounded-start"></div>
        <img src="Ads/07.png" class="custom-img" alt="">
      </div>
    </div>
    <div class="col-8 ">
      <div class="card-body d-flex justify-content-center">
        <div class="circle-parent circle-spotify"></div>
      </div>
      <div class=" d-flex justify-content-center my-3 mt-2 text-n">Spotify Ads selling about 35%</div>
    </div>
  </div>
</div>
</div>

<!-- end spotify //////////////////////////// -->
  <!-- start instagram //////////////////////////// -->

  <div class="col-12  col-md-6 col-lg-6 col-xl-4 h-100">
  <div class="card cart-bluer">
  <div class="row g-0">
    <div class="col-4 ">
      <div class="custom-w-h position-relative">
        <img src="Ads/instagram.png"  class=" custom-w-h rounded-start" alt="...">
        <div class="top-back rounded-start"></div>
        <img src="Ads/19.png" class="custom-img" alt="">
      </div>
    </div>
    <div class="col-8 ">
      <div class="card-body d-flex justify-content-center">
        <div class="circle-parent circle-instagram"></div>
      </div>
      <div class=" d-flex justify-content-center my-3 mt-2 text-n">instagram selling about 60%</div>
    </div>
  </div>
</div>
</div>

<!-- end instagram //////////////////////////// -->
  <!-- start linkedIn //////////////////////////// -->

  <div class="col-12  col-md-6 col-lg-6 col-xl-4 h-100">
  <div class="card cart-bluer">
  <div class="row g-0">
    <div class="col-4 ">
      <div class="custom-w-h position-relative">
        <img src="Ads/linkedin.png"  class=" custom-w-h rounded-start" alt="...">
        <div class="top-back rounded-start"></div>
        <img src="Ads/18.png" class="custom-img" alt="">
      </div>
    </div>
    <div class="col-8 ">
      <div class="card-body d-flex justify-content-center">
        <div class="circle-parent circle-linkedin"></div>
      </div>
      <div class=" d-flex justify-content-center my-3 mt-2 text-n">Linkedin selling about 35%</div>
    </div>
  </div>
</div>
</div>

<!-- end linkedin //////////////////////////// -->
  <!-- start Yahoo! //////////////////////////// -->

  <div class="col-12  col-md-6 col-lg-6 col-xl-4 h-100">
  <div class="card cart-bluer">
  <div class="row g-0">
    <div class="col-4 ">
      <div class="custom-w-h position-relative">
        <img src="Ads/endbackground.png"  class=" custom-w-h rounded-start" alt="...">
        <div class="top-back rounded-start"></div>
        <img src="Ads/08.png" class="custom-img" alt="">
      </div>
    </div>
    <div class="col-8 ">
      <div class="card-body d-flex justify-content-center">
        <div class="circle-parent circle-yahoo"></div>
      </div>
      <div class=" d-flex justify-content-center my-3 mt-2 text-n">Yahoo! Ads selling about 20%</div>
    </div>
  </div>
</div>
</div>

<!-- end Yahoo! //////////////////////////// -->


</div>
